@charset "UTF-8";
/*CONFIGURAÇÕES DE MODO RETRATO*/

body{
   background: url(../imagens/cev-portrait.jpg);
   background-position: center bottom;
   background-size: 85%;
   background-repeat: no-repeat;
}