@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    background-color: pink;
    font-family: 'Courgette', cursive;
    text-align: justify;
}

h1#principal{
  text-align: center;
  background-color: #ffacd6;
}

h1{
    color: hotpink;
}

h2{
    color: rgb(255, 136, 196);
}

.equipes{
    color: deeppink;
}

.pilotos{
    color: rgb(249, 74, 167);
}